services:

  db:
    image: mysql:8.0
    restart: always
    command: --explicit_defaults_for_timestamp
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_RANDOM_ROOT_PASSWORD: test
    volumes:
      - db:/var/lib/mysql/

  wordpress:
    image: wordpress
    restart: always
    extends:
      file: ./docker-compose.base.yml
      service: wordpress
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: test
      WORDPRESS_DB_PASSWORD: test
      WORDPRESS_DB_NAME: test
    networks:
      default:

volumes:
  db:
networks:
  default:
    name: numendo
    external: true